eulei.shop/Service References/ServiceShareArticle/ShareArticle1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24911/Services/ShareArticle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eulei.shop.Services" />
  <xs:element name="Push">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eulei.shop.Services" minOccurs="0" name="shareArticleEntity" nillable="true" type="q1:ShareArticleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RePush">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eulei.shop.Services" minOccurs="0" name="shareArticleEntity" nillable="true" type="q2:ShareArticleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RePushResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RePushResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>