eulei.shop/Service References/ServiceShareArticle/ShareArticle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShareArticle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24911/Services/ShareArticle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24911/Services/ShareArticle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24911/Services/ShareArticle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eulei.shop.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShareArticle_Push_InputMessage">
    <wsdl:part name="parameters" element="tns:Push" />
  </wsdl:message>
  <wsdl:message name="IShareArticle_Push_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushResponse" />
  </wsdl:message>
  <wsdl:message name="IShareArticle_RePush_InputMessage">
    <wsdl:part name="parameters" element="tns:RePush" />
  </wsdl:message>
  <wsdl:message name="IShareArticle_RePush_OutputMessage">
    <wsdl:part name="parameters" element="tns:RePushResponse" />
  </wsdl:message>
  <wsdl:portType name="IShareArticle">
    <wsdl:operation name="Push">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareArticle/Push" message="tns:IShareArticle_Push_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareArticle/PushResponse" message="tns:IShareArticle_Push_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RePush">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareArticle/RePush" message="tns:IShareArticle_RePush_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareArticle/RePushResponse" message="tns:IShareArticle_RePush_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShareArticle" type="tns:IShareArticle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Push">
      <soap:operation soapAction="http://tempuri.org/IShareArticle/Push" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RePush">
      <soap:operation soapAction="http://tempuri.org/IShareArticle/RePush" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShareArticle">
    <wsdl:port name="ShareArticle" binding="tns:ShareArticle">
      <soap:address location="http://localhost:24911/Services/ShareArticle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>